body {
  @include fluid-text(20, 18);

  font-weight: 400;
  line-height: 1.28;
  font-family: var(--font-family-base);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: var(--color-dark-blue);
}
h1 {
  @include fluid-text(60, 30);
  font-weight: 400;
  line-height: 1.1;
}
h2 {
  @include fluid-text(50, 30);
}
h3 {
  @include fluid-text(35, 22);
}
h4 {
  @include fluid-text(20, 18);
}

// * {
//   outline: 2px solid green;
// }
