.calculate-section {
  margin-bottom: 70px;
  @include tablet {
    margin-bottom: 50px;
  }
  @include mobile {
    margin-bottom: 30px;
  }
  &__header {
    position: relative;
    background-image: url("../source/images/calc-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 562px;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      @include abs-center;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  &__inner {
    padding-top: 32px;
  }
  &__title {
    position: relative;
    color: var(--color-white);
    max-width: 1015px;
    z-index: 10;
  }

  &__banner {
    position: relative;
    margin-top: -200px;
    background-color: white;
    box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.17);
    padding: 16px 13px 40px;
  }

  &__banner-title {
    text-align: center;
    margin-bottom: 35px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
  }

  &__card {
    &:not(:last-child) {
      padding-right: 10px;
    }
  }

  &__card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__card-image {
    margin-bottom: 37px;
  }

  &__card-title {
    text-align: center;
  }

  &__card-description {
    margin-bottom: 8px;
    text-align: center;
  }
  &__actions {
    display: flex;
    justify-self: center;
    right: 0;
    top: -76px;
    position: absolute;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 76px;
    @include hover {
      color: var(--color-white);
      background-color: var(--color-accent);
    }
  }
}
.calculate {
  &__inner {
  }

  &__title {
  }
}
