.footer {
  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__body {
    padding: 50px 10px;
  }

  &__body-content {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    grid-template-areas: "logo nav1 nav2";
    justify-content: space-between;
    @include mobile {
      justify-items: center;
      column-gap: 15px;
      row-gap: 40px;
      grid-template-areas:
        "logo logo"
        "nav1 nav2";
    }
  }

  &__logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: logo;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__logo-description {
    max-width: 244px;
    @include mobile {
      text-align: center;
    }
  }

  &__nav {
    &:first-child {
      grid-area: nav1;
    }
    &:last-child {
      grid-area: nav2;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 16px;
  }

  &__list-item {
  }

  &__list-link {
    @include fluid-text(18, 16);
    &:hover {
      color: var(--color-accent);
    }
  }

  &__bottom {
    background-color: var(--color-grey-light);
    padding-block: 50px;
  }

  &__bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
  }

  &__links {
    display: flex;
    gap: 30px;
  }

  &__link {
  }

  &__link-icon {
  }
}
