.quiz-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quiz {
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__content {
    padding-block: 55px;
    padding-right: 50px;
    @include mobile {
      padding-right: 0px;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__question-number {
    margin-bottom: 20px;
    color: rgb(11, 30, 72);
    font-weight: 700;
    @include fluid-text(130, 30);
  }

  &__form-quistions {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__image {
    @include tablet {
      width: 50%;
      height: auto;
    }
  }
}
.form-quistions {
  &__content {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__title-wrapper {
    margin-bottom: 30px;
  }

  &__title {
    @include fluid-text(30, 20);
  }

  &__label {
  }

  &__input {
    height: var(--input-height);
    padding-left: 20px;
  }

  &__answers-row {
    display: flex;
    gap: 30px;
    &--checkbox {
      flex-wrap: wrap;
      row-gap: 30px;
      column-gap: 10px;
    }
  }

  &__checkbox {
    display: none;

    &:checked ~ .form-quistions__custom-checkbox {
      color: var(--color-white);
      background-color: var(--color-accent);
      border: none;
    }
    &--base {
      display: inline-flex;
    }
  }

  &__checkbox-wrapper {
    display: inline-flex;
  }

  &__custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    aspect-ratio: 1;
    font-weight: 600;
    color: var(--color-black);
    border: 1px solid black;
    @include fluid-text(25, 18);
  }

  &__actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    gap: 15px;
    font-size: 18px;
  }

  &__button {
    height: 58px;
    &:hover {
      opacity: 0.7;
    }
  }
}
.button {
}
.button-back {
  background-color: var(--color-white);
  border: 1px solid black;
  color: black;
}

.checkbox-base {
  white-space: nowrap;
  @include fluid-text(20, 16);
  width: 45%;
  gap: 10px;
  display: flex;
  @include desktop {
    width: 45%;
  }
  @include tablet {
    width: 100%;
  }
}
