.special-project {
  margin-bottom: 30px;
  &__header {
    margin-bottom: 37px;
  }

  &__header-title {
  }

  &__body {
    display: flex;
    gap: 45px;
    @include mobile {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__col-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding-top: 18px;
    gap: 32px;
  }

  &__image {
    @include tablet {
      width: 100%;
      height: auto;
    }
    @include mobile {
      display: none;
    }
  }

  &__col-2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    row-gap: 60px;
    padding-bottom: 52px;
  }
}

.col-1 {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  &__list-item {
    text-align: center;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.14);
    padding-block: 31px;
  }
}
